
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #efefef;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main-nav {
    z-index: 1;
    width: 300px;
    height: 100%;
    position: fixed;
    overflow: hidden;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

#main-nav.show { background: #3fcee3; }

#nav-button {
    background: #3fcee3;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    top: 1em;
    left: 1em;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #444;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#nav-button .fa {
    position: absolute;
    top: 0;
    left: 0.2em;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 1em;
    height: 1em;
    font-size: 1em;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

#nav-button:hover {
    cursor: pointer;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3);
    color: #222;
}

#nav-button.width {
    width: 80em;
    height: 80em;
    top: -37.5em;
    left: -37.5em;
    box-shadow: none;
}

#nav-button.width:before {
    content: '';
    display: block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: color 0.3s linear;
    animation: color 0.3s linear;
}
@-webkit-keyframes
color {  0% {
    box-shadow: 0;
}
    30% {
        box-shadow: 0 0 10px 25px rgba(12, 121, 137, 0.5);
        /* feather / spread */
    }
}
@keyframes
color {  0% {
    box-shadow: 0;
}
    30% {
        box-shadow: 0 0 10px 25px rgba(12, 121, 137, 0.5);
        /* feather / spread */
    }
}

/*@keyframes curve {
  0% {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	100% {
		transform: rotate(60deg)
		           translate(200px)
		           rotate(-60deg);
	}
}*/

#nav-list {
    position: absolute;
    top: 7em;
    padding: 0 0 0 2em;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
}

#nav-list a {
    color: #444;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    width: 100%;
    padding: 1.2em 0;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

#nav-list a:hover { color: #111; }

#nav-list.nav-show { opacity: 1; }

#content {
    background: #efefef;
    height: 100%;
    position: relative;
    -webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
}

#content header {
    height: 15em;
    background: #44769a;
    width: 100%;
    padding: 1.7em 0 0 0;
}

#content header h1 {
    color: #fff;
    letter-spacing: 0.03em;
    font-size: 1.4em;
    width: 75%;
    margin: 0 auto;
}

#content section {
    height: 60em;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    width: 75%;
    margin: -10em auto 0;
}

#cover {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

/*#cover.display {*/
    /*background: rgba(0, 0, 0, 0.2);*/
    /*opacity: 1;*/
    /*visibility: visible;*/
/*}*/

.documentForm input,
.documentForm2 input {
    display: flex;
    margin: 8px;
    padding: 7px;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
}

input.fileUpload {
    padding-left: 0px;
    border: 0px;
}

#new-game {
    text-align: center;
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #E5E5E5;
    background:rgba(0,0,0,0.5);
    color: white;
}
input.Submit {
    padding-left: 70px;
    font-weight: 900;
}

input.Submit:active {
    position: relative;
    top: 3px;
}

#game {
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
#game h1 {
    background: rgba(0,0,0,0.5);
    width: 80%;
    margin: auto;
    padding: 15px;

}
#game-question {
    width: 90%;
    margin: auto;
}
#game-question img {
    padding-bottom: 15px;
}

#game-question button {
    font-size: 23px;
    color: white;
    font-weight: bold;
}

/*input.fileUpload{*/
    /*display: none;*/
/*}*/

/*.newUpload {*/
    /*cursor: pointer;*/
    /*background-image: url("../image/upload.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*width: 100px;*/
    /*height: 100px;*/
/*}*/

body {
 background-image: url("../image/background.jpg");
}

#dice {
    width: 50px;
    height: 50px;
    background-image: url("../image/red-dice-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}

#dice:active {
    top: 3px;
    position: relative;
}

p#questionnaire-title{
    font-size: 25px;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.3em;
}

#current_score {
    display: flex;
    font-size: 50px;
}
#current_score div:first-child {
    margin-left: auto;
}
#current_score div {
    margin-right: auto;
}

#points{
    position: absolute;
    top: -60px;
    right: 50px;
    font-size: 80px;
}